<div alt="{{lemma}}" title="{{lemma}}">{{image}}</div><br />
<span class="box"><span id="translation" class="editable">{{translation}}</span></span><br />

<hr id="answer" />
<span id="lemma" class="editable">{{lemma}}</span><br />
<span id="present" class="editable">{{present}}</span> –
<span id="past" class="editable">{{past}}</span> –
<span id="perfect" class="editable">{{perfect}}</span> –
<span id="future" class="editable">{{future}}</span><br />
{{#ipa}}<br /><span class="box">IPA: /<span id="ipa" class="editable">{{ipa}}</span>/</span><br />{{/ipa}}
{{audio}}

<hr />
{{type:lemma}}

{{#textsample}}<hr /><span id="textsample" class="editable shake">»{{textsample}}«</span>{{/textsample}}
