<div alt="{{lemma}}" title="{{lemma}}">{{image}}</div><br />
<span class="box"><span id="translation" class="editable">{{translation}}</span></span><br />

<hr id="answer" />
<span id="lemma" class="editable">{{lemma}}</span><br />
<span id="comparative" class="editable">{{comparative}}</span> –
<span id="superlative" class="editable">{{superlative}}</span><br />
{{#ipa}}<br /><span class="box">IPA: /<span id="ipa" class="editable">{{ipa}}</span>/</span><br />{{/ipa}}
{{audio}}

{{type:lemma}}

{{#textsample}}<hr /><span id="textsample" class="editable shake">»{{textsample}}«</span>{{/textsample}}
