<div alt="{{lemma}}" title="{{lemma}}">{{image}}</div><br />
<span class="box"><span id="translation" class="editable">{{translation}}</span></span><br />

<hr id="answer" />
<span id="article_sg" class="editable">{{article_sg}}</span> <span id="lemma" class="editable">{{lemma}}</span>{{#plural}}, <span id="article_pl" class="editable">{{article_pl}}</span> <span id="plural" class="editable">{{plural}}</span>{{/plural}}
(<span id="gender" info="{{gender}}" class="editable">{{gender}}</span>)<br />
{{#ipa}}<br /><span class="box">IPA: /<span id="ipa" class="editable">{{ipa}}</span>/</span><br />{{/ipa}}
{{audio}}

<hr />
{{type:lemma}}

{{#textsample}}<hr /><span id="textsample" class="editable shake">»{{textsample}}«</span>{{/textsample}}
